@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --color-success: #81d8d0;
  --color-secondary: #f4f0ea;
  --color-secondary-hover: #ebe6df;
  --color-grey: #9a9a9a;
  --color-black: #000000;
  --color-light: #fbf9f7;
  --color-white: #ffffff;
  --color-green: #009cad;
  --color-danger: #e50739;
  --ff: "Nunito Sans", sans-serif;
  --grid: 24px;
  --mb: 44px;
  --mb2: 80px;
}

body {
  color: var(--color-black);
  font-family: var(--ff);
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-black);
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1800px;
}

/* grid */
.grid {
  display: grid;
  grid-column-gap: var(--grid);
  grid-row-gap: var(--grid);
}
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

/* icons */
.icon {
  --size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: var(--size);
  position: relative;
  width: var(--size);
}
.icon-chevron-left {
  background-image: url(../images/svg/chevron-right.svg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.icon-chevron-up {
  background-image: url(../images/svg/chevron-down.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.icon-lg {
  --size: 44px;
}
.icon-nav::after, .icon-nav::before {
  display: block;
  content: "";
  position: absolute;
  background: var(--color-black);
  border-radius: 2px;
  height: 3px;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  transition: all 200ms ease-in-out;
}
.icon-nav::before {
  top: 6px;
}
.icon-nav::after {
  bottom: 6px;
}
.icon-nav.md-visible {
  display: none;
}
.icon-nav.active::before {
  transform: rotate(-45deg);
  top: 10px;
}
.icon-nav.active::after {
  transform: rotate(45deg);
  bottom: 11px;
}
.icon-bag {
  background-image: url(../images/svg/bag.svg);
}
.icon-user {
  background-image: url(../images/svg/user.svg);
}
.icon-phone {
  background-image: url(../images/svg/phone.svg);
}
.icon-search {
  background-image: url(../images/svg/search.svg);
}
.icon-close {
  background-image: url(../images/svg/close.svg);
}
.icon-pin {
  background-image: url(../images/svg/pin.svg);
}
.icon-zoom {
  background-image: url(../images/svg/zoom.svg);
}
.icon-chevron-down {
  background-image: url(../images/svg/chevron-down.svg);
}
.icon-chevron-right {
  background-image: url(../images/svg/chevron-right.svg);
}

/* btn */
.btn {
  background: var(--color-black);
  border: 0;
  border-radius: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: 12px;
  font-family: var(--ff);
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 16px;
  overflow: hidden;
  text-transform: uppercase;
  padding: 22px 32px;
  position: relative;
}
.btn-primary span {
  position: relative;
  z-index: 2;
}
.btn-primary::after {
  background: var(--color-success);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  background: var(--color-black);
}
.btn-primary:hover::after {
  transform: none;
}
.btn-primary:active::after {
  background: var(--color-green);
}
.btn-secondary {
  background: var(--color-secondary);
  color: var(--color-black);
}
.btn-secondary:hover, .btn-secondary:active {
  background: var(--color-secondary-hover) !important;
  color: var(--color-black) !important;
}
.btn-block {
  width: 100%;
}

/* more_link */
.more_link {
  background: url(../images/svg/chevron-right.svg) right center/20px no-repeat;
  margin-left: auto;
  padding-right: 24px;
  text-decoration: none;
}

/* spoiler */
.spoiler-title {
  position: relative;
}
.spoiler-title::after {
  display: block;
  content: "";
  position: absolute;
  background: url(../images/svg/chevron-down.svg) center/cover no-repeat;
  height: 22px;
  width: 22px;
  right: 0;
  top: 50%;
  margin-top: -9px;
}
.spoiler-title.active::after {
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.spoiler-body {
  overflow: hidden;
  height: 0;
  transition: height 100ms linear;
}

@media screen and (min-width: 1200px) {
  .footer_item .spoiler-body {
    height: auto !important;
  }
}
/* breadcrumbs */
.breadcrumbs {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 24px 0;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}
.breadcrumbs a {
  color: var(--color-grey);
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

/* topline */
.topline {
  --pd: 20px;
  background: var(--color-success);
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}
.topline [class*=container] {
  padding: 10px 40px;
  position: relative;
}
.topline .swiper {
  position: static;
}
.topline .swiper-slide {
  text-align: center;
}
.topline-prev, .topline-next {
  cursor: pointer;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.topline-prev {
  left: var(--pd);
}
.topline-next {
  right: var(--pd);
}

/* header */
.header {
  background: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 500;
}
.header-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0 6px;
}
.header-top .icon {
  margin: 0 16px 0 0;
}
.header-top .icon:last-child {
  margin: 0;
}
.header-logo img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
.header-icons {
  align-items: center;
  display: flex;
  margin-top: 16px;
}

/* navmenu */
.navmenu {
  position: relative;
}
.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navmenu ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 16px;
  padding: 8px 8px 23px;
}
.navmenu ul li a {
  color: var(--color-black);
  text-decoration: none;
  display: block;
}

/* socials */
.socials {
  display: flex;
}
.socials a {
  margin: 0 20px 0 0;
  text-decoration: none;
}
.socials a:last-child {
  margin: 0;
}
.socials a:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  background: var(--color-light);
}
.footer-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 90px 0;
}
.footer-bottom [class*=container] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-logo img {
  max-width: 150px;
}
.footer-logo.md-visible {
  display: none;
  margin: 0 0 34px;
  text-align: center;
}
.footer_item-title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 16px;
  margin: 0 0 24px;
}
.footer_item ul {
  margin: 0;
  padding: 0;
}
.footer_item ul li {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  margin: 0 0 16px;
}
.footer_item ul li:last-child {
  margin: 0;
}
.footer_item ul li a {
  color: var(--color-black);
  text-decoration: none;
}
.footer_item ul li a:hover {
  text-decoration: underline;
}

/* product-grid */
.product-grid {
  grid-template-columns: 500px 1fr;
  margin-top: var(--mb);
  margin-bottom: var(--mb2);
}
.product-grid > div1 {
  grid-area: 1/1/2/2;
}
.product-grid > div2 {
  grid-area: 1/1/2/3;
}

/* product-details */
.product-details h1 {
  font-size: 22px;
  line-height: 32px;
}
.product-details .product-price {
  margin: 0 0 34px;
}

/* product-buttons */
.product-buttons .btn {
  margin: 0 0 12px;
}

/* pin-link */
.pin-link {
  background: url(../images/svg/pin.svg) left center/20px no-repeat;
  display: inline-block;
  font-size: 12px;
  padding: 4px 0 4px 26px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

/* sizes_line */
.sizes_line {
  align-items: center;
  display: flex;
  margin: 0 0 34px;
}
.sizes_line-title {
  margin-right: 16px;
}
.sizes_line-pick {
  margin-left: auto;
  position: relative;
  text-decoration: none;
}

/* pick_images */
.pick_images {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 0 -4px 24px;
  padding: 0 0 24px;
}
.pick_images li {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  padding: 0 4px;
  text-align: center;
}
.pick_images li img {
  background: var(--color-light);
  border-bottom: 1px solid transparent;
  filter: brightness(0.98);
  display: block;
  margin: 0 0 8px;
}
.pick_images li a {
  display: block;
  text-decoration: none;
}
.pick_images li a.active img {
  border-bottom-color: var(--color-black);
}

/* product_favorites */
.product_favorites {
  margin: 0 0 var(--mb);
}
.product_favorites-btn {
  background: 0;
  border: 0;
  color: var(--color-black);
  font-family: var(--ff);
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  text-transform: uppercase;
  padding-left: 28px;
  position: relative;
}
.product_favorites-btn::after {
  display: block;
  content: "";
  position: absolute;
  background: url(../images//svg/heart.svg) center/cover no-repeat;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
}
.product_favorites-error {
  color: var(--color-danger);
  margin-top: 16px;
}

/* product-description */
.product-description {
  margin: 0 0 var(--mb);
}

/* features */
.features {
  margin: 0 0 var(--mb);
}
.features .spoiler-body {
  margin: 0 0 20px;
}
.features ul {
  margin: 0;
  padding: 0;
}
.features ul li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  margin: 0 0 6px;
}
.features ul li::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 4px;
  height: 4px;
  background: var(--color-black);
}

/* product_image */
.product_image {
  padding: 4px;
  position: relative;
}
.product_image-first {
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  margin: 0 0 24px;
}
.product_image img {
  cursor: url("../images/svg/zoom.svg");
}
.product_image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
.product_image-grid > div:nth-child(1) {
  grid-area: 1/1/2/3;
}
.product_image-grid > div:nth-child(2) {
  grid-area: 2/1/3/2;
}
.product_image-grid > div:nth-child(3) {
  grid-area: 2/2/3/3;
}
.product_image-grid > div:nth-child(4) {
  grid-area: 3/1/4/3;
}
.product_image-grid img {
  display: block;
  box-shadow: 0 0 0 1px #ddd;
}

/* faq_item */
.faq-grid {
  grid-column-gap: 100px;
  grid-row-gap: var(--mb);
  margin-bottom: var(--mb2);
}
.faq-grid img {
  display: block;
}

.faq_item .spoiler-body__inner {
  padding-bottom: 34px;
}
.faq_item-title {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: 600;
  padding: 24px 60px 24px 0;
}
.faq_item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1200px) {
  .md-hidden {
    display: none !important;
  }

  .md-visible {
    display: block !important;
  }

  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* grid */
  .grid-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  /* topline */
  .topline {
    --pd: 10px;
  }

  /* header */
  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .header-top {
    padding: 12px 0;
  }
  .header-logo img {
    max-width: 150px;
  }

  /* navmenu */
  .navmenu {
    display: none;
  }

  /* footer */
  .footer-top {
    border: 0;
    padding: 40px 0;
  }
  .footer .grid-md-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .footer-bottom [class*=container] {
    display: block;
    padding-bottom: 50px;
    padding-top: 0;
  }
  .footer-bottom .copyright {
    margin: 0 0 20px;
  }
  .footer_item {
    margin: 0;
  }
  .footer_item-title {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 20px 60px 20px 0;
    position: relative;
  }
  .footer_item-title::after {
    display: block;
    content: "";
    position: absolute;
    background: url(../images/svg/chevron-down.svg) center/cover no-repeat;
    width: 18px;
    height: 18px;
    right: 0;
    top: 50%;
    margin-top: -9px;
  }
  .footer_item-title.active::after {
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .footer_item ul {
    padding: 10px 0 30px;
  }
  .footer_item ul li {
    margin: 0 0 12px;
  }

  /* product-grid */
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-grid > div {
    grid-area: auto;
  }
  .product-grid > div:first-child {
    order: 2;
  }
  .product-grid > div:last-child {
    order: 1;
  }
}