@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --color-success: #81d8d0;
  --color-secondary: #f4f0ea;
  --color-secondary-hover: #ebe6df;
  --color-grey: #9a9a9a;
  --color-black: #000000;
  --color-light: #fbf9f7;
  --color-white: #ffffff;
  --color-green: #009cad;
  --color-danger: #e50739;
  --color-border: rgba(0, 0, 0, 0.15);
  --ff: "Nunito Sans", sans-serif;
  --ff2: "Cardo", serif;
  --grid: 24px;
  --mb: 44px;
  --mb2: 80px;
}

body {
  color: var(--color-black);
  font-family: var(--ff);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

body.nav_opened,
body.customPopup_opened {
  height: 100%;
  overflow: hidden;
}

.md-visible {
  display: none;
}

p {
  margin: 24px 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-black);
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1800px;
}

h1 {
  font-family: var(--ff2);
  font-size: 32px;
  line-height: 40px;
}

/* grid */
.grid {
  display: grid;
  gap: var(--grid) var(--grid);
}
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

/* icons */
.icon {
  --size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: var(--size);
  position: relative;
  width: var(--size);
}
.icon-chevron-left {
  background-image: url(../images/svg/chevron-right.svg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.icon-chevron-up {
  background-image: url(../images/svg/chevron-down.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.icon-lg {
  --size: 44px;
}
.icon-nav::after, .icon-nav::before {
  display: block;
  content: "";
  position: absolute;
  background: var(--color-black);
  border-radius: 2px;
  height: 3px;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  transition: all 200ms ease-in-out;
}
.icon-nav::before {
  top: 6px;
}
.icon-nav::after {
  bottom: 6px;
}
.icon-nav.md-visible {
  display: none;
}
.icon-nav.active::before {
  transform: rotate(-45deg);
  top: 10px;
}
.icon-nav.active::after {
  transform: rotate(45deg);
  bottom: 11px;
}
.icon .badge {
  background: var(--color-green);
  border-radius: 50%;
  color: var(--color-white);
  min-width: 18px;
  padding: 0 3px;
  height: 18px;
  right: -5px;
  top: -5px;
  position: absolute;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  padding: 0;
  pointer-events: none;
}
.icon-bag {
  background-image: url(../images/svg/bag.svg);
}
.icon-user {
  background-image: url(../images/svg/user.svg);
}
.icon-phone {
  background-image: url(../images/svg/phone.svg);
}
.icon-search {
  background-image: url(../images/svg/search.svg);
}
.icon-close {
  background-image: url(../images/svg/close.svg);
}
.icon-pin {
  background-image: url(../images/svg/pin.svg);
}
.icon-zoom {
  background-image: url(../images/svg/zoom.svg);
}
.icon-chevron-down {
  background-image: url(../images/svg/chevron-down.svg);
}
.icon-chevron-right {
  background-image: url(../images/svg/chevron-right.svg);
}
.icon-call {
  background-image: url(../images/svg/call.svg);
}
.icon-meet {
  background-image: url(../images/svg/meet.svg);
}
.icon-envelope {
  background-image: url(../images/svg/envelope.svg);
}
.icon-heart {
  background-image: url(../images/svg/heart.svg);
}
.icon-mail {
  background-image: url(../images/svg/mail.svg);
}
.icon-share {
  background-image: url(../images/svg/share.svg);
}

/* btn */
.btn {
  background: var(--color-black);
  border: 0;
  border-radius: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: 12px;
  font-family: var(--ff);
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 32px;
  position: relative;
}
.btn-primary span {
  position: relative;
  z-index: 2;
}
.btn-primary::after {
  background: var(--color-success);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  background: var(--color-black);
}
.btn-primary:hover::after {
  transform: none;
}
.btn-primary:active::after {
  background: var(--color-green);
}
.btn-secondary {
  background: var(--color-secondary);
  color: var(--color-black);
  overflow: visible;
}
.btn-secondary:hover, .btn-secondary:active {
  background: var(--color-secondary-hover) !important;
  color: var(--color-black) !important;
}
.btn-sm {
  padding: 12px 22px;
  text-transform: none;
}
.btn-block {
  width: 100%;
}
.btn-close {
  box-shadow: none !important;
  opacity: 1;
}

/* form-radio */
.form-radio {
  background: 0;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  -webkit-appearance: none;
}
.form-radio::after {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--color-black);
  border-radius: 50%;
  left: 4px;
  top: 4px;
  display: none;
}
.form-radio:hover {
  border-color: var(--color-grey);
}
.form-radio:checked {
  border-color: var(--color-black);
}
.form-radio:checked::after {
  display: block;
}

/* form-control */
.form-control {
  border: 0;
  border-bottom: 1px solid var(--color-border);
  border-radius: 0;
  box-shadow: none !important;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  padding: 18px 0;
  outline: none;
}
.form-control::placeholder {
  color: var(--color-grey);
}
.form-control:focus {
  border-bottom-color: var(--color-black);
}

/* more_link */
.more_link {
  background: url(../images/svg/chevron-right.svg) right center/20px no-repeat;
  margin-left: auto;
  padding-right: 24px;
  text-decoration: none;
}

/* spoiler */
.spoiler-title {
  --icon: 22px;
  cursor: pointer;
  position: relative;
  padding-right: 22px;
}
.spoiler-title::after {
  display: block;
  content: "";
  position: absolute;
  background: url(../images/svg/chevron-down.svg) center/cover no-repeat;
  height: var(--icon);
  width: var(--icon);
  right: 0;
  top: 50%;
  margin-top: calc(var(--icon) / 2 * -1);
}
.spoiler-title.sm {
  --icon: 14px;
}
.spoiler-title.active::after {
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.spoiler-body {
  overflow: hidden;
  height: 0;
  transition: height 180ms linear;
}

@media screen and (min-width: 1200px) {
  .footer_item .spoiler-body {
    height: auto !important;
  }
}
/* breadcrumbs */
.breadcrumbs {
  border-top: 1px solid var(--color-border);
  padding: 24px 0;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}
.breadcrumbs a {
  color: var(--color-grey);
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

/* fancybox */
.f-button {
  background: 0 !important;
}
.f-button svg {
  color: var(--color-black);
  filter: none;
}

.fancybox__infobar {
  color: var(--color-black);
  text-shadow: none;
}

.fancybox__backdrop {
  background: var(--color-white);
}

/* custom_popup */
.custom_popup {
  --pd: 34px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: all 200ms ease-in-out;
  backdrop-filter: blur(10px);
}
.custom_popup-close {
  position: absolute;
  left: var(--pd);
  top: var(--pd);
}
.custom_popup-backdrop {
  background: var(--color-black);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.45;
  z-index: 1;
}
.custom_popup-body {
  background: var(--color-white);
  box-shadow: 0 2px 8px var(--color-border);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  z-index: 2;
  transition: transform 200ms ease-in-out;
  padding: 90px var(--pd) var(--pd);
  transform: translateY(-100%);
}
.custom_popup-body.vertical {
  box-shadow: -2px 0 8px var(--color-border);
  left: auto;
  right: 0;
  bottom: 0;
  max-width: 580px;
  overflow: auto;
  transform: translateX(600px);
}
.custom_popup-title {
  font-family: var(--ff2);
  font-size: 28px;
  line-height: 32px;
  margin: 0 0 34px;
  text-align: left;
}
.custom_popup.opened {
  opacity: 1;
  visibility: visible;
  display: block;
}
.custom_popup.opened .custom_popup-body {
  transform: translate(0);
}

/* rating */
.rating-link {
  display: flex;
  align-items: center;
}
.rating a {
  color: inherit;
  text-decoration: none;
}
.rating_votes {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
}
.rating_votes-item {
  background: url(../images/svg/star.svg) 0 0/cover no-repeat;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 2px 0 0;
}
.rating_votes-item:last-child {
  margin: 0;
}
.rating_votes-item.active {
  background-image: url(../images/svg/star2.svg);
}
.rating-count {
  color: var(--color-gray);
  font-size: 10px;
  font-family: var(--font);
  display: block;
  margin-top: 4px;
}

/* topline */
.topline {
  --pd: 20px;
  background: var(--color-success);
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.topline [class*=container] {
  padding: 0 40px;
  position: relative;
}
.topline .swiper {
  position: static;
}
.topline .swiper-slide {
  align-items: center;
  display: flex;
  height: 40px;
  text-align: center;
  justify-content: center;
}
.topline-prev, .topline-next {
  cursor: pointer;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.topline-prev {
  left: var(--pd);
}
.topline-next {
  right: var(--pd);
}

/* header */
.header {
  background: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 500;
}
.header-top {
  padding: 16px 0 0 6px;
}
.header-top [class*=container] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header-top .icon {
  margin: 0 16px 0 0;
}
.header-top .icon:last-child {
  margin: 0;
}
.header-logo img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
.header-icons {
  align-items: center;
  display: flex;
  margin-top: 16px;
}

/* navmenu */
.navmenu {
  position: relative;
}
.navmenu > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navmenu > ul > li {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 16px;
  padding: 8px 8px 23px;
}
.navmenu > ul > li > a {
  color: var(--color-black);
  display: block;
  text-decoration: none;
}

/* dropdown_nav */
@media screen and (min-width: 1200px) {
  .navmenu > ul > li:hover .dropdown_nav {
    opacity: 1;
    visibility: visible;
  }

  .dropdown_nav {
    background: var(--color-white);
    border-top: 1px solid var(--color-border);
    box-shadow: 0 34px 40px var(--color-border);
    position: absolute;
    left: 0;
    margin-top: 23px;
    width: 100%;
    padding: 60px 0;
    transition: all 200ms ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  .dropdown_nav-header {
    display: none;
  }
  .dropdown_nav-container {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
  }
  .dropdown_nav-nav {
    flex: 0 0 65%;
    max-width: 65%;
  }
  .dropdown_nav-col {
    margin: 0 0 24px;
  }
  .dropdown_nav-col:last-child {
    margin: 0;
  }
  .dropdown_nav-images {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .dropdown_nav-title {
    margin: 0 0 var(--mb);
  }
  .dropdown_nav ul {
    margin: 0;
    padding: 0;
  }
  .dropdown_nav ul li {
    list-style: none;
    margin: 0 0 20px;
    text-transform: none;
  }
  .dropdown_nav ul li:last-child {
    margin: 0;
  }
  .dropdown_nav ul li a {
    text-decoration: none;
  }
  .dropdown_nav ul li a:hover {
    text-decoration: underline;
  }
}
/* dropdown_nav-title / dropdown_nav-images */
.dropdown_nav-title {
  color: var(--color-grey);
  font-size: 16px;
  text-transform: none;
}

.dropdown_nav-images {
  text-transform: none;
}
.dropdown_nav-images .grid {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.dropdown_nav-images .grid img {
  height: 200px;
  object-fit: cover;
}
.dropdown_nav-images img {
  display: block;
  width: 100%;
  margin: 0 0 6px;
}
.dropdown_nav-images img:last-child {
  margin: 0;
}
.dropdown_nav-images a {
  text-align: center;
  text-decoration: none;
}
.dropdown_nav-images a:hover {
  text-decoration: underline;
}

/* socials */
.socials {
  display: flex;
}
.socials a {
  margin: 0 20px 0 0;
  text-decoration: none;
}
.socials a:last-child {
  margin: 0;
}
.socials a:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  background: var(--color-light);
}
.footer-top {
  border-bottom: 1px solid var(--color-border);
  padding: 90px 0;
}
.footer-bottom [class*=container] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-logo img {
  max-width: 150px;
}
.footer-logo.md-visible {
  display: none;
  margin: 0 0 34px;
  text-align: center;
}
.footer_item-title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 16px;
  margin: 0 0 24px;
}
.footer_item ul {
  margin: 0;
  padding: 0;
}
.footer_item ul li {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  margin: 0 0 16px;
}
.footer_item ul li:last-child {
  margin: 0;
}
.footer_item ul li a {
  color: var(--color-black);
  text-decoration: none;
}
.footer_item ul li a:hover {
  text-decoration: underline;
}

/* product-grid */
.product-grid {
  grid-template-columns: 1.3333333fr 0.66666fr;
  gap: 0px var(--grid);
  margin-top: var(--mb);
  margin-bottom: var(--mb2);
}

.product-main {
  order: 1;
}

.product-details {
  order: 2;
}

/* product-details */
.product-details h1 {
  font-size: 30px;
  line-height: 32px;
}
.product-details .product-price {
  margin: 0 0 34px;
}

/* product-delivery */
.product-delivery {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.product-delivery > span {
  display: inline-block;
  padding-left: 30px;
  position: relative;
}
.product-delivery > span::after {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../images/svg/icon-car.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  left: 0;
  top: -1px;
}

/* product_share */
.product_share {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product_share-btn {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  position: relative;
  padding-left: 28px;
  display: block;
}
.product_share-btn .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* small_filter */
.small_filter {
  margin: 0 0 12px;
}
.small_filter-title {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 10px;
}
.small_filter-list {
  display: flex;
  flex-wrap: wrap;
}
.small_filter-item {
  position: relative;
  cursor: pointer;
  display: block;
  width: 36px;
  margin: 0 8px 8px 0;
  font-size: 11px;
  line-height: 14px;
  font-family: var(--font);
}
.small_filter-item input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.small_filter-item span {
  background: var(--color-white);
  box-shadow: inset 0 0 0 1px var(--color-border);
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.small_filter-item input:checked + span {
  background: var(--color-white);
  box-shadow: inset 0 0 0 2px var(--color-black);
}

/* sharebox */
.sharebox {
  border: 0;
  box-shadow: 0 2px 12px var(--color-border);
  min-width: 0;
  padding: 10px 16px;
  border-radius: 6px;
}
.sharebox-inner {
  display: flex;
}
.sharebox a {
  margin: 0 8px 0 0;
}
.sharebox a:last-child {
  margin: 0;
}
.sharebox a img {
  display: block;
  min-width: 26px;
}

/* features */
.features {
  margin: 0 0 30px;
}
.features ul {
  margin: 0;
  padding: 0;
}
.features li {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 8px;
  list-style: inside disc;
}
.features li:last-child {
  margin: 0;
}

/* product_favorites */
.product_favorites {
  margin: 0 0 var(--mb);
}
.product_favorites-btn {
  background: 0;
  border: 0;
  color: var(--color-black);
  font-family: var(--ff);
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  text-transform: uppercase;
  padding-left: 28px;
  position: relative;
}
.product_favorites-btn::after {
  display: block;
  content: "";
  position: absolute;
  background: url(../images//svg/heart.svg) center/cover no-repeat;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
}
.product_favorites-error {
  color: var(--color-danger);
  margin-top: 16px;
}

/* product-description */
.product-description {
  font-family: var(--ff2);
  margin: 0 0 var(--mb);
}

/* product_image */
.product_image {
  padding: 4px;
  position: relative;
}
.product_image-first {
  border-radius: 6px;
  margin: 0 0 var(--mb);
}
.product_image-mb {
  margin-top: var(--mb);
}
.product_image img {
  cursor: url("../images/svg/zoom.svg");
}
.product_image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
.product_image-grid > div:nth-child(1) {
  grid-area: 1/1/2/3;
}
.product_image-grid > div:nth-child(2) {
  grid-area: 2/1/3/2;
}
.product_image-grid > div:nth-child(3) {
  grid-area: 2/2/3/3;
}
.product_image-grid > div:nth-child(4) {
  grid-area: 3/1/4/3;
}
.product_image-grid img {
  display: block;
  box-shadow: 0 0 0 1px #ddd;
}

/* faq_item */
.faq-grid {
  grid-column-gap: 100px;
  grid-row-gap: var(--mb);
  margin-bottom: var(--mb2);
}
.faq-grid img {
  display: block;
}

.faq_item .spoiler-body {
  font-family: var(--ff2);
}
.faq_item .spoiler-body__inner {
  padding-bottom: 34px;
}
.faq_item-title {
  border-top: 1px solid var(--color-border);
  font-weight: 600;
  padding: 24px 60px 24px 0;
}
.faq_item:last-child {
  border-bottom: 1px solid var(--color-border);
}

/* subscribe */
.subscribe {
  border-top: 1px solid var(--color-border);
  padding: 60px 0;
}
.subscribe-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;
  text-align: center;
}
.subscribe-form {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
}
.subscribe .form-control {
  width: 100%;
  margin-right: 20px;
}
.subscribe .btn {
  padding: 22px 26px;
}

/* contacts-popup */
.contacts-text {
  margin: 40px 0;
  text-align: center;
}

.contacts-menu {
  border-bottom: 1px solid var(--color-border);
  text-align: left;
  margin: 0;
  padding: 0;
}
.contacts-menu li {
  border-top: 1px solid var(--color-border);
  list-style: none;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contacts-menu li a {
  display: block;
  padding: 18px 0 18px 50px;
  position: relative;
  text-decoration: none;
}
.contacts-menu li a .icon {
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -12px;
}

/* search-popup */
.search-popup-form {
  margin: 0 0 34px;
}
.search-popup-title {
  font-size: 24px;
  font-family: var(--ff2);
  line-height: 28px;
  margin: 0 0 20px;
}
.search-popup-list {
  display: flex;
  flex-wrap: wrap;
}
.search-popup-list .btn {
  margin: 0 12px 6px 0;
}

/* table_sizes */
.table_sizes {
  border-collapse: collapse;
  width: 100%;
}
.table_sizes .text-right {
  text-align: right;
}
.table_sizes th {
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 0 16px 10px 0;
}
.table_sizes th:last-child {
  padding-right: 0;
}
.table_sizes-row {
  position: relative;
}
.table_sizes-row td {
  border-bottom: 1px solid var(--color-border);
  padding: 18px 0;
}
.table_sizes-row label {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .md-hidden {
    display: none !important;
  }

  .md-visible {
    display: block !important;
  }

  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* grid */
  .grid-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  /* topline */
  .topline {
    --pd: 10px;
  }

  /* header */
  .header-top {
    background: var(--color-white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;
    position: relative;
    z-index: 1000;
  }
  .header-top [class*=container] {
    align-items: center;
    height: 54px;
  }
  .header-icons {
    margin: 0;
  }
  .header-logo img {
    max-width: 120px;
  }

  /* navmenu */
  .navmenu {
    background: var(--color-white);
    position: fixed;
    left: 0;
    top: 54px;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    z-index: 900;
    transition: all 200ms ease-in-out;
    transform: translate(-600px);
    overflow: auto;
  }
  .navmenu a {
    text-decoration: none;
  }
  .navmenu ul {
    display: block;
  }
  .navmenu ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;
  }
  .navmenu ul li > a {
    padding: 24px 16px;
    position: relative;
  }
  .navmenu ul li > a::after {
    display: block;
    content: "";
    position: absolute;
    background: url(../images/svg/chevron-right.svg) center/cover no-repeat;
    width: 20px;
    height: 20px;
    right: 16px;
    top: 50%;
    margin-top: -10px;
  }

  body.nav_opened .topline {
    display: none;
  }
  body.nav_opened .navmenu {
    transform: none;
  }

  /* dropdown_nav */
  .dropdown_nav {
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    transform: translateX(-600px);
    transition: all 200ms ease-in-out;
    z-index: 100;
  }
  .dropdown_nav.opened {
    transform: none;
  }
  .dropdown_nav-close {
    background: url(../images/svg/chevron-right.svg) center/20px no-repeat;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -12px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .dropdown_nav-images {
    padding: 20px 16px;
  }
  .dropdown_nav-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding: 24px 16px;
    position: relative;
    text-align: center;
  }
  .dropdown_nav-title {
    padding: 24px 16px 16px;
  }
  .dropdown_nav-nav .grid {
    display: block;
  }
  .dropdown_nav-nav ul {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 0;
  }
  .dropdown_nav-nav ul li {
    border: 0;
    list-style: none;
  }
  .dropdown_nav-nav ul li a {
    display: block;
    padding: 16px;
  }

  /* footer */
  .footer-top {
    border: 0;
    padding: 40px 0;
  }
  .footer .grid-md-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .footer-bottom [class*=container] {
    display: block;
    padding-bottom: 50px;
    padding-top: 0;
  }
  .footer-bottom .copyright {
    margin: 0 0 20px;
  }
  .footer_item {
    margin: 0;
  }
  .footer_item-title {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 20px 60px 20px 0;
    position: relative;
  }
  .footer_item-title::after {
    display: block;
    content: "";
    position: absolute;
    background: url(../images/svg/chevron-down.svg) center/cover no-repeat;
    width: 18px;
    height: 18px;
    right: 0;
    top: 50%;
    margin-top: -9px;
  }
  .footer_item-title.active::after {
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .footer_item ul {
    padding: 10px 0 30px;
  }
  .footer_item ul li {
    margin: 0 0 12px;
  }

  /* product-grid */
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-grid > div {
    grid-area: auto;
  }

  .product-main {
    order: 2;
  }

  .product-details {
    order: 1;
    margin: 0 0 var(--mb);
  }

  /* custom_popup */
  .custom_popup {
    --pd: 16px;
  }
  .custom_popup-body {
    padding-top: 60px;
  }
  .custom_popup-title {
    margin: 0 0 20px;
  }
}