@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --color-success: #81d8d0;
  --color-secondary: #f4f0ea;
  --color-secondary-hover: #ebe6df;
  --color-black: #000000;
  --color-light: #fbf9f7;
  --color-white: #ffffff;
  --color-green: #009cad;
  --ff: "Nunito Sans", sans-serif;
  --grid: 24px;
}

body {
  color: var(--color-black);
  font-family: var(--ff);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-black);
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1800px;
}

/* grid */
.grid {
  display: grid;
  grid-column-gap: var(--grid);
  grid-row-gap: var(--grid);
}
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

/* icons */
.icon {
  --size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: var(--size);
  width: var(--size);
}
.icon-chevron-left {
  background-image: url(../images/svg/chevron-right.svg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.icon-chevron-up {
  background-image: url(../images/svg/chevron-down.svg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.icon-lg {
  --size: 44px;
}
.icon-bag {
  background-image: url(../images/svg/bag.svg);
}
.icon-user {
  background-image: url(../images/svg/user.svg);
}
.icon-phone {
  background-image: url(../images/svg/phone.svg);
}
.icon-search {
  background-image: url(../images/svg/search.svg);
}
.icon-close {
  background-image: url(../images/svg/close.svg);
}
.icon-pin {
  background-image: url(../images/svg/pin.svg);
}
.icon-zoom {
  background-image: url(../images/svg/zoom.svg);
}
.icon-chevron-down {
  background-image: url(../images/svg/chevron-down.svg);
}
.icon-chevron-right {
  background-image: url(../images/svg/chevron-right.svg);
}

/* btn */
.btn {
  background: var(--color-black);
  border: 0;
  border-radius: 0;
  color: var(--color-white);
  cursor: pointer;
  font-size: 12px;
  font-family: var(--ff);
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 16px;
  overflow: hidden;
  text-transform: uppercase;
  padding: 22px 32px;
  position: relative;
}
.btn-primary span {
  position: relative;
  z-index: 2;
}
.btn-primary::after {
  background: var(--color-success);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  background: var(--color-black);
}
.btn-primary:hover::after {
  transform: none;
}
.btn-primary:active::after {
  background: var(--color-green);
}
.btn-secondary {
  background: var(--color-secondary);
  color: var(--color-black);
}
.btn-secondary:hover, .btn-secondary:active {
  background: var(--color-secondary-hover) !important;
  color: var(--color-black) !important;
}
.btn-block {
  width: 100%;
}

/* topline */
.topline {
  background: var(--color-success);
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}
.topline [class*=container] {
  padding: 10px 30px;
  position: relative;
}
.topline .swiper {
  position: static;
}
.topline .swiper-slide {
  text-align: center;
}
.topline-prev, .topline-next {
  cursor: pointer;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.topline-prev {
  left: 20px;
}
.topline-next {
  right: 20px;
}

/* header */
.header {
  background: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 500;
}
.header-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0 6px;
}
.header-top .icon {
  margin: 0 16px 0 0;
}
.header-top .icon:last-child {
  margin: 0;
}
.header-logo img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
.header-icons {
  align-items: center;
  display: flex;
  margin-top: 16px;
}

/* navmenu */
.navmenu {
  position: relative;
}
.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navmenu ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 16px;
  padding: 8px 8px 23px;
}
.navmenu ul li a {
  color: var(--color-black);
  text-decoration: none;
  display: block;
}

/* socials */
.socials {
  display: flex;
}
.socials a {
  margin: 0 20px 0 0;
  text-decoration: none;
}
.socials a:last-child {
  margin: 0;
}
.socials a:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  background: var(--color-light);
}
.footer-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 90px 0;
}
.footer-bottom .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.footer-logo img {
  display: block;
  max-width: 150px;
}
.footer_item-title {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 16px;
  margin: 0 0 24px;
}
.footer_item ul {
  margin: 0;
  padding: 0;
}
.footer_item ul li {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  margin: 0 0 16px;
}
.footer_item ul li:last-child {
  margin: 0;
}
.footer_item ul li a {
  color: var(--color-black);
  text-decoration: none;
}
.footer_item ul li a:hover {
  text-decoration: underline;
}

/* product-grid */
.product-grid {
  grid-template-columns: 500px 1fr;
}
.product-grid > div1 {
  grid-area: 1/1/2/2;
}
.product-grid > div2 {
  grid-area: 1/1/2/3;
}

/* product-details */
.product-details h1 {
  font-size: 22px;
  line-height: 32px;
}
.product-details .product-price {
  margin: 0 0 34px;
}

/* product-buttons */
.product-buttons .btn {
  margin: 0 0 12px;
}

/* pin-link */
.pin-link {
  background: url(../images/svg/pin.svg) left center/20px no-repeat;
  display: inline-block;
  font-size: 12px;
  padding: 4px 0 4px 26px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

/* sizes_line */
.sizes_line {
  align-items: center;
  display: flex;
  margin: 0 0 34px;
}
.sizes_line-title {
  margin-right: 16px;
}
.sizes_line-pick {
  background: url(../images/svg/chevron-right.svg) right center/20px no-repeat;
  margin-left: auto;
  padding-right: 24px;
  position: relative;
  text-decoration: none;
}

/* pick_images */
.pick_images {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 0 -4px 24px;
  padding: 0 0 24px;
}
.pick_images li {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  list-style: none;
  padding: 0 4px;
  text-align: center;
}
.pick_images li img {
  background: var(--color-light);
  border-bottom: 1px solid transparent;
  filter: brightness(0.98);
  display: block;
  margin: 0 0 8px;
}
.pick_images li a {
  display: block;
  text-decoration: none;
}
.pick_images li a.active img {
  border-bottom-color: var(--color-black);
}